---

---
<section class="section" id="skills">
	<header class="section-header stack gap-2 lg:gap-4">
		<h3>My Skills</h3>
		<p>See my most recent projects below to get an idea of my skills.</p>
	</header>
	<div>
		<h5>Languages and Tools</h5>
		<div class="logo-images-container">
			<img src="../../public/assets/stack-icons/html5.png" alt="HTML" class="logo" />
			<img src="../../public/assets/stack-icons/css3.png" alt="CSS" class="logo" />
			<img src="../../public/assets/stack-icons/javascript.png" alt="JS" class="logo" />
			<img src="../../public/assets/stack-icons/typescript.png" alt="TS" class="logo" />
			<img src="../../public/assets/stack-icons/express.png" alt="Express" class="logo" />
			<img src="../../public/assets/stack-icons/node.png" alt="Node" class="logo" />
			<img src="../../public/assets/stack-icons/python.png" alt="Python" class="logo" />
			<img src="../../public/assets/stack-icons/firebase.png" alt="Firebase" class="logo" />
		</div>
	</div>
	<div>
		<h5>Libraries and Framework</h5>
		<div class="logo-images-container">
			<img src="../../public/assets/stack-icons/react.png" alt="React" class="logo" />
			<img src="../../public/assets/stack-icons/next.png" alt="Next" class="logo" />
			<img src="../../public/assets/stack-icons/astro.png" alt="Astro" class="logo" />
		</div>
	</div>
	<div>
		<h5>Database</h5>
			<img src="../../public/assets/stack-icons/mongoDB.png" alt="MongoDB" class="logo" />
		<h5>Others</h5>
		<div class="logo-images-container">
			<img src="../../public/assets/stack-icons/cypress.png" alt="Cypress" class="logo" />
			<img src="../../public/assets/stack-icons/playwrite.png" alt="Playwright" class="logo" />
			<img src="../../public/assets/stack-icons/git.png" alt="Git" class="logo" />
			<img src="../../public/assets/stack-icons/gitHub.png" alt="GitHub" class="logo" />
		</div>
	</div>
</section>

<style>
	.section {
		gap: 2rem;
	}

	.section-header {
		justify-self: left;
		text-align: left;
		max-width: 50ch;
		font-size: var(--text-md);
		color: var(--gray-300);
	}

	.section-header h3 {
		font-size: var(--text-2xl);
	}

	.logo-images-container {
		display: flex;
		justify-content: left;
		gap: 1rem;
		padding: 1rem;
	}
	.logo {
		width: 60px;
		height: 60px;
		object-fit: cover;
	}

	@media (min-width: 50em) {
		.section {
			grid-template-columns: repeat(4, 1fr);
			grid-template-areas: 'header header header header' 'gallery gallery gallery gallery';
			gap: 5rem;
		}

		.section-header {
			grid-area: header;
			font-size: var(--text-lg);
		}

		.section-header h3 {
			font-size: var(--text-4xl);
		}

	}
</style>
